*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    background-image: url(proj_images/heart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    width: 150 px;
}
.game{
    display:grid;
    grid-auto-columns: repeat(3, 1 fr);
    grid-auto-rows: repeat(4, 1fr);
    position: relative;

}
.card{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 300 px;
    width: 200 px;

}