*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
    background-image: url(proj_images/heart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
img{
    height: 100px;
    width: 300px;
    object-fit: contain;
    position: absolute;
}
.game{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10 px;
    margin: 10px;
    height: 85%;
    width: 85%;

}
.card{
    position: relaitve;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%    ;
}