*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
    background-image: url(proj_images/heart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
header{
    font-size: 50px;
    color: rgb(223, 150, 14);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.game{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 10px;
    height: 90%;
    justify-content: center;
    perspective: 1000;

}
.card{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 175px;
    position: relative;
    transition: transform 500ms ease-in-out;
    transform: scale(1);
    transform-style: preserve-3d;
}
.card.front card.flip{
    transform:rotateY(-180deg)
}
.card.back card.flip{
    transform:rotateY(180deg)
}

.front, .back{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    backface-visibility: hidden;
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 10px;

}
button{
    font-size: 20px;
    color: rgba(255, 0, 0, 0.904);
    background-color: rgb(223, 150, 14);
    border-color: chocolate;
}
button:hover{
    background-color: white;
    border-color: black;
}
